<div class="container">
  <h1>Order</h1>
  <table class="table table-striped">
    <tr>
      <th nowrap>ID</td>
      <td>{{order.id}}</td>
    </tr>
    <tr>
      <th nowrap>Source</td>
      <td>{{order.source}}</td>
    </tr>
    <tr>
      <th nowrap>Order Number</td>
      <td>{{order.order_number}}</td>
    </tr>
    <tr>
      <th nowrap>Last Updated Date and Time</td>
      <td>{{order.last_updated_datetime}}</td>
    </tr>
    <tr>
      <th nowrap>Quickbooks Sync Status</td>
      <td>{{order.quickbooks_sync_status}}</td>
    </tr>
    <tr>
      <th nowrap>Message</td>
      <td>{{order.message}}</td>
    </tr>
  </table>
  <div>
    <a class="btn btn-primary" href back-button>Back</a>
  </div>
</div>
