<div class="container">
  <h1>Jobs</h1>
  <p>
    <a class="btn btn-primary" ng-click="refresh()" ng-disabled="refreshDisabled">Refresh</a>
  </p>
  <table class="table table-striped">
    <tr>
      <th>Flow Type</th>
      <th>Status</th>
      <th>Started At</th>
      <th>Ended At</th>
      <th>Description</th>
      <th>Error Message</th>
    </tr>
    <tr ng-repeat="job in jobs">
      <td>{{job.flow_type}}</td>
      <td>{{job.status}}</td>
      <td>{{job.start_datetime}}</td>
      <td>{{job.end_datetime}}</td>
      <td>{{job.description}}</td>
      <td>{{job.error_message}}</td>
    </tr>
  </table>
</div>
